{{> nav}}

<main id="HomeMain">

          <div class="background-image responsive"></div>
               <div class="jumbotron">
                    <h1>Find and Rate a Roommate!</h1>
                    <h2>Never have a bad roommate experience again.</h2>


                  </div>
<div class="container">
    <div class="row">
        <div class="col-4">
          {{> profileNav }}
          {{> profileSidebar}}
        </div>
        <div class="col-8">
          <div class="welcome">
            Welcome!
          </div>

            <div>
                <div class="col">
                  <!-- espie commented -->
                    <!-- <h2 class="text-left" style="display: inline-block">My Roommates</h2> -->

                    <button type="button" class="btn btn-primary roommate-margin-b-sm roommate-margin-l-sm"
                    data-toggle="modal" data-target="#add-roommate">Add a Roommate</button>
                </div>
            </div>



            <div class="row">
                {{#each roommates}}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card w-100">
                        <a href="/api/roommates/{{id}}">
                            <img class="card-img-top img-fluid" src="{{rmpicture}}" alt="{{rmname}}" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title text-center">{{rmname}}</h4>
                            <a href="/api/roommates{{id}}" class="btn btn-primary mb-1">View Profile</a>
                            <button type="button" class="btn btn-info mb-1 edit-roommate" data-toggle="modal" data-target="#edit-roommate" data-id="{{id}}">Edit Profile</button>
                            <form>
                                <a href="#" class="btn btn-danger delete-roommate" data-id="{{id}}">Delete Roommate</a>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Add  Modal -->
<div class="modal fade" id="add-roommate" tabindex="-1" role="dialog" aria-labelledby="add-roommateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-roommateLabel">Add a new Roommate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ref='uploadForm' id='AddRoommate' action='/api/newroommateimg/upload' method='post' encType="multipart/form-data">
                    <div class="form-group">
                        <label for="roommatePicture" class="col-form-label">Picture:</label>
                        <input class="form-control" type="file" name="roommatePicture" />
                        <br>
                          <button type="submit" class="btn btn-success" id="upload">Upload!</button>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input class="form-control" type="text" name="name" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="rlocation" class="col-form-label">Roommate Location:</label>
                            <!-- <input class="form-control" type="text" name="rlocation" placeholder="Washington, DC" /> -->

                            <select name="rlocation" class="form-control">
                                <option name="rlocation" selected>Select One</option>
                                <option name="rlocation" value="Arlington, Va">Arlington, Va</option>
                                <option name="rlocation" value="Washington, DC">Washington, DC</option>
                                <option name="rlocation" value="Baltimore, Md.">Baltimore, Md.</option>
                                <option name="rlocation" value="Baltimore, Md.">New York, NY.</option>

                                <option name="rlocation" value="Los Angeles, Ca">Los Angeles, Ca.</option>
                                <option name="rlocation" value="Seattle, Wa">Seattle, Wa.</option>
                                <option name="rlocation" value="Silcon Valley, Ca.">Silicon Valley, Ca.</option>
                            </select>

                        </div>
                        <!-- <div class="form-group col-6">
                            <label for="withRoom" class="col-form-label">WithRoom</label>
                            <select name="withRoom" class="form-control">
                                <option name="withRoom" selected>Select One</option>
                                <option name="withRoom" value="Yes">Yes</option>
                                <option name="withRoom" value="No">No</option>
                            </select>
                            <input class="form-control" type="text" name="withRoom" placeholder="withRoom?" />
                        </div> -->
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="gender" class="col-form-label">Gender:</label>
                            <select name="gender" class="form-control">
                                <option name="gender" selected>Select One</option>
                                <option name="gender" value="male">Male</option>
                                <option name="gender" value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="age" class="col-form-label">Age:</label>
                            <input class="form-control" name="age" type="number" />
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="bio">Bio:</label>
                        <textarea class="form-control" name="bio" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="userId" value="{{userId}}" />
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type='submit' class="btn btn-primary" value='Add' id="upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Modal -->
<div class="modal fade" id="edit-roommate" tabindex="-1" role="dialog" aria-labelledby="edit-roommateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-roommateLabel">Edit Roommate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ref='uploadForm' id='UpdateRoommateImg-form' action='/api/newroommateimg/upload' method='post' encType="multipart/form-data">
                    <div class="form-group">
                        <label for="roommatePicture" class="col-form-label">Update Picture</label>
                        <input class="form-control mb-2" type="file" name="roommatePicture" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" id="upload">Upload!</button>
                        </div>

                    </div>
                </form>
<!-- edit roommate -->
                <form id="edit-roommate-form" name="edit-roommate" method="post" action="/api/update-roommate">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="name" class="col-form-label">Name</label>
                            <input id="roommate-name" class="form-control" type="text" name="name" />
                        </div>
                        <div class="form-group col-6">
                            <label for="age" class="col-form-label">Age</label>
                            <input id="roommate-age" class="form-control" name="age" type="number" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="rlocation" class="col-form-label">Roommate Location</label>
                            <input id="roommate-type" class="form-control" type="text" name="rlocation" placeholder="location" />
                        </div>
                        <div class="form-group col-6">
                            <label for="withRoom" class="col-form-label">WithRoom?</label>
                            <select name="withRoom" class="form-control">
                                <option name="withRoom" selected>Select One</option>
                                <option name="withRoom" value="male">Yes</option>
                                <option name="withRoom" value="female">No</option>
                            </select>
                            <!-- <input id="pet-breed" class="form-control" type="text" name="breed" placeholder="Pug" /> -->
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="bio">Bio</label>
                        <textarea id="roommate-bio" class="form-control" name="bio" rows="3"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type='submit' class="btn btn-primary" value='Save' id="update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="alertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertLabel">Oops!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                No image was uploaded!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
