{{> nav}}

<div class="container">
    <div class="row">
      <div class="col-md-6">

<button type="button" onclick="window.location='/profile-edit/{{myprofile.userID}}';">Edit Profile</button>
{{/if}}   

  <p> First Name: {{user.firstName}} </p>
  <p> Last Name: {{user.lastName}} </p>
  <p> Email: {{user.email}} </p>
  <p> State: {{user.address.state}} </p>
  <p> Bio: {{user.bio}} </p>

<h1>Ratings</h1>
  {{#each user.ratings as |value key|}}
      {{#ifCond key '!=' "detail"}} <!-- details are not shown to users, internal use only -->
        <p>{{key}}: {{value}} </p>
      {{/ifCond}}
    {{/each}}
    {{#if loggedIn}}
      {{#ifCond loggedIn.userID  '!=' user._id}}

            <!-- Survey Questions -->
            <div class="input-field col s12">
             <button type ="submit">Rate This Roommate</button>
              <h3>Question 1</h3>
              <h5>Did they clean up after themseleves.</h5>
              <select id="question1">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>

            <div class="input-field col s12">
              <h3>Question 2</h3>
              <h5>Did they pay your rent and bills on time.</h5>
              <select id="question2">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>

            <div class="input-field col s12">
              <h3>Question 3</h3>
              <h5>Did you bring your own furniture </h5>
              <select id="question3">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>

            <div class="input-field col s12">
              <h3>Question 4</h3>
              <h5>Did they have a pet </h5>
              <select id="question4">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>

            <div class="input-field col s12">
              <h3>Question 5</h3>
              <h5>Were they loud</h5>
              <select id="question5">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
              </select>
            </div>

            <div class="input-field col s12">


 <h2>Blog Info</h2>
  <div>
  {{#each comments}}
    <div>
      <p> Date: {{date}} </p>
      <p> {{comment}} </p>
        {{#if spam}}
        <p>Flagged as spam</p>
        {{/if}}
        {{#if ../loggedIn}}
        <button type="button" class="flagCommentButton">Flag Comment</button>
          <div class="flagCommentDiv">
          <textarea form="flagCommentForm{{_id}}" class="flagCommentBox"></textarea>
          <form class="flagCommentForm" id="flagCommentForm{{_id}}">
            <input type="hidden" class="flaggedCommentID" name="commentId" value={{_id}}>            
            <button type="submit"> Submit </button>
          </form>    
        </div>
        <p class="flagCommentFormResponse"></p>
        {{/if}}
    </div>
  {{else}}
    <p>No comments</p>
  {{/each}}
  </div>
  {{#if loggedIn}}
    <button type="button" id="addCommentButton">Add Comment</button>
    <div id="commentFormDiv">
      <textarea form="addCommentForm" id="addCommentBox"></textarea>
      <form id="addCommentForm" class="page-form">
        <!-- <div>
          <label for="addCommentBox"> Your Comment</label>
          <input id="addCommentBox" type="text" placeholder="Write here" />
        </div> -->
        <button type="submit"> Submit </button>
      </form>
      
    </div>
    <p id="commentFormResponse"></p>
{{> blog}}